body{
    max-width: 1349px;
}
.header{
    display: flex;
    justify-content: space-around;
    background: #F5F5F5;
    align-items: center;
}
.name{
    position: relative;
    right: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.header-nav li{
    font-size: 1.2rem;
    display: inline-block;
    padding-right: 3rem;
}
.header-nav li:last-child{
    font-weight: bold;
}
.conteiner-presentation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F5F5F5;
    padding-top: 3rem;
    height: 25rem;
    row-gap: 2rem;
}
.div-presentation{
    width: 50%;
}
.div-presentation h1{
    font-weight: bold;
    font-size: 3rem;
}
.img-profile img{
    position: relative;
    right: 5rem;
    width: 390px;
    height: 300px;
    border-radius: 90px;
}
.description{
    padding-top:2rem;
    font-size: 1.6rem;
}
.ul-presentation{
    display: flex;
}
.li-presentation{
    padding: 1.5rem 1.2rem 0 0;
    font-size: 1.3rem;
}
.about-me{
    display: flex;
    background: #EAF2FD;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    height: 8rem;
}
.aboutme-title{
    display: flex;
    align-self: start;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 2rem;
}
.aboutme-p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    align-self: start;
    font-size: 16px;
    line-height: 19px;
    max-width: 60%;
    
}
.skill-hobbies{
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
    
}
.skill-hobbies ul{
    display: flex;
    margin-left: 3rem;
    padding-bottom: 20px;
    
}
.title-sh{
    font-size: 2rem;
    margin: 20px ;
    text-align: center;
    font-weight: bold;
}
.li-skill-hobbies{
    background: #F5F5F5;
    display: flex;
    Width: 100px;
    Height: 100px;
    margin: 10px;
    flex-direction: column-reverse;
    border: none;
    align-items: center;
}
.li-skill-hobbies img{
    width: 3rem;
    height: 3rem;
    padding: 1rem 1rem
}
.academic-training{
    display: flex;
    flex-direction: column;
    background: #EAF2FD;
}
.title-academic{
    margin-top: 3rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}
.div-academic{
    display: flex;
    justify-content: flex-start;
    gap: 5.5rem;
    margin-left: 3.7rem;
    margin-top: 2rem;
    padding-bottom: 5rem;
}
.img-unlp{
    background: url(../img/unlp.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 19rem;
    height: 9rem;
}
.img-alura{
    background: url(../img/image\ 8.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 20.9rem;
    height: 9rem;
}
.img-arg{
    background: url(../img/ARGENTINA-PROGRAMA.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 20.9rem;
    height: 9rem;
}
.div-academic h3{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.div-academic span{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.prof-exp{
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
}
.prof-exp h2{
    margin-top: 3rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    
}
.img-encriptador{
    background: url(../img/enigma.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 55rem;
    height: 25rem;
}
.img-ahorcado{
    background: url(../img/ahorcado.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 45rem;
    height: 25rem;
}
.container-btn{
    padding-left: 2rem;
}
.container-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-1{
    width: 116px;
    height: 51px;
    left: 0px;
    top: 0px;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    box-sizing: border-box;
}
.btn-2{
    width: 105px;
    height: 51px;
    left: 132px;
    top: 0px;
    background: #2A7AE4;
}
.prof-title{
    font-style: normal;
    font-weight: 5rem;
    font-size: 22px;
    line-height: 26px;
}
.prof-descr{
    font-style: normal;
    font-weight: 500px;
    font-size: 16px;
    line-height: 19px;
}
.contact{
    display: flex;
    padding-left: 3rem;
    background: #EAF2FD;
    padding-top: 9rem;
}
.contact-img{
    background-image: url(../img/unsplash_JYGnB9gTCls.png);
    background-repeat: no-repeat;
    width: 29rem;
    height: 50rem;
}
.contact-menu{
    display: flex;
    flex-direction: column;
}
.contact-menu form{
    display:flex;
    flex-direction: column;
    padding-left: 1rem;
}
.contact-menu h2{
    font-style: normal;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 1rem;
    padding-left: 1rem;
}
.contact-menu p{
    padding-left: 1rem;
    font-style: normal;
}
.contact-menu input{
    width: 100%;
    height: 3.5rem;
    border: none;
    border-bottom: 1px solid grey;
    margin: 1.33rem 0;
}
.contact-menu textarea{
    resize: none;
    border: none;
    border-bottom: 1px solid grey;
}
.contact-menu textarea::placeholder{
    font-family: sans-serif;
    padding-top: 1rem;
}
.contact-menu button{
    width: 8rem;
    height: 3rem;
    color: #FFFFFF;
    margin-top: 1rem;
    background: #2A7AE4;
}
footer{
    margin: 2rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}