body{
    position: absolute;
    width: 1000px;
    height: 450px;
    left: 0px;
    top: 0px;
    overflow-x: hidden;
    /* Preto/05% */
    
    background: #F5F5F5;
}
.ul-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;  
    position: static;
    width: 642px;
    height: 19px;
    left: 494px;
    top: 34.5px;   
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 611px;
}
.ul-menu a{
    position: static;
    width: 82px;
    height: 19px;
    left: 0px;
    top: 0px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */  
    /* Preto/100% */
    color: #464646;
    /* Inside auto layout */   
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 20px;
}
.header{   
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;  
    position: static;
    width: 1136px;
    height: 368px;
    left: 152px;
    top: 120px;
    /* Inside auto layout */   
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 50px 200px;
    
}
.header-img{
    position: static;
    width: 250px;
    height: 200px;
    left: 668px;
    top: 0px;  
    /* Inside auto layout */   
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 1px;
   
}
.presentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;  
    position: static;
    width: 751px;
    height: 246px;
    left: 0px;
    top: 61px; 
    /* Inside auto layout */   
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 1px;
}
.presentation h1{
    position: static;
    width: 751px;
    height: 122px;
    left: 0px;
    top: 0px;  
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 52px;
    line-height: 61px; 
    /* Preto/100% */   
    color: #464646;
    /* Inside auto layout */   
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;  
}
.presentation h2{
    position: static;
    width: 751px;
    height: 52px;
    left: 0px;
    top: 146px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px; 
    /* Preto/100% */   
    color: #464646;
    /* Inside auto layout */   
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
    
}
.links-interest{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;  
    position: static;
    width: 467px;
    height: 24px;
    left: 0px;
    top: 222px;
    /* Inside auto layout */   
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 24px 0px;
}
.links-interest li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;  
    position: static;
    width: 97px;
    height: 24px;
    left: 370px;
    top: 0px;  
    /* Inside auto layout */   
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 10px;
}
.aboutme{
    display: flex;
    flex-direction: column;
    padding: 64px; 
    position: static;
    width: 1440px;
    height: 290px;
    left: 0px;
    top: 520px;
    /* Azul/10% */ 
    background: #EAF2FD;   
    /* Inside auto layout */   
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 1px 0px;
    padding: 0px 198px;
}
.aboutme h1{   
    position: static;
    width: 137px;
    height: 38px;
    left: 0px;
    top: 0px;  
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */  
    /* Preto/100% */   
    color: #464646;
    /* Inside auto layout */   
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}
.aboutme p{
    position: static;
    width: 751px;
    height: 133px;
    left: 0px;
    top: 54px; 
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px; 
    /* Preto/100% */   
    color: #464646;
    /* Inside auto layout */   
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}
.education-skills{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;  
    position: static;
    width: 100%;
    left: 0px;
    top: 935px;
    /* Inside auto layout */   
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
    margin: 1px 0px;
}
.education{
    display: flex;
    flex-direction: column;
    padding: 0px 180px;
    position: static;
    width: 1440px;
    height: 300px;
    left: 0px;
    top: 664px;
    /* Inside auto layout */   
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 20px 0px;
}
.education h1{
    position: static;
    width: 339px;
    height: 38px;
    left: 550.5px;
    top: 82px; 
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */  
    text-align: center;
    /* Preto/100% */   
    color: #464646;
    /* Inside auto layout */   
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
}
.education img{
    position: static;
    width: 192px;
    height: 130px;
    left: 88px;
    top: 78px;
    /* Inside auto layout */   
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px 10px;
    padding: 0px 50px;
}
.education h5{
    position: static;
    width: 209px;
    height: 26px;
    left: 0px;
    top: 294px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */  
    /* Preto/100% */   
    color: #464646;
    /* Inside auto layout */   
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
    padding: 0px 20px;
}
.education p{
    position: static;
    width: 120px;
    height: 19px;
    left: 0px;
    top: 328px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */  
    /* Preto/100% */   
    color: #464646;
    /* Inside auto layout */   
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 8px 0px;
    padding: 0px 20px;
}
.skills{
    display: flex;
    flex-direction: column;
    padding: 2px;
    
    position: static;
    width: 1440px;
    height: 200px;
    left: 0px;
    top: 664px;
    
    /* Azul/10% */
    
    background: #EAF2FD;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    margin: 2px 0px;
}
.skills h1{
    position: static;
    width: 82px;
    height: 38px;
    left: 527px;
    top: 0px;  
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */  
    text-align: center;
    /* Preto/100% */   
    color: #464646;
    /* Inside auto layout */   
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
    padding: 0px 198px;
}
.skills ul{
    display: flex;
    flex-direction: row;
    padding: 0px;  
    position: static;  
    /* Inside auto layout */   
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    padding: 0px 198px;
}
.skills .tools{
    position: static;
    height: 19px;
    left: 16px;
    top: 139px;
    
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    /* Preto/100% */
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    padding: 5px 50px;
    border: 1px solid #09090c;
    border-radius: 130px;
}
.color #js{
    background-color: #f0db4f;
}
.color #html{
    background-color: #e34c26;
}
.color #css{
    background-color: #264de4;
}
.color #mysql{
        background-color: #F29111
}
.title-projects{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;

    color: #464646;
/* Inside auto layout */
    margin: 32px 0px;
    padding: 0px 205px;
}
.projects{
    overflow: hidden;
    width: 800px;
    margin-left: 154px;
}
.projects div{
    float: left;
    margin: 10px;
}
.display-info{
    position: relative;
    top: 90px;
    
}
.display-info h2{
    width: 250px;
    padding-left: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
    margin: 0px 0px;
}
.display-info h3{
    width: 190px;
    padding-left: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}
.projects img{
    width: 400px;
    height: 300px;
    border-radius: 0px;

    margin: 0px 0px;
}
.projects  button{
    /* Auto layout */
    width: 100px;
    height: 51px;

    margin: 8px 0px;

}
#btn-git{

    /* Azul/100% */
    border: 1px solid #2A7AE4;
    box-sizing: border-box;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #2A7AE4;
    margin: 0px 16px;
    
}
#btn-playdemo{ 
    /* Azul/100% */
    background: #2A7AE4;   
    /* Inside auto layout */   
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
 
    color: #FFFFFF;

    margin: 0px 16px;
}
footer{  
    order: 5;
    flex-grow: 0;
    margin: 10px 0px;
}
footer .ftr-author{
    align-items: center;

    background: #FFFFFF;

    /* Inside auto layout */
    width: 1300px;
    margin: 0px 0px;
}
footer .ftr-author p{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Preto/100% */

    color: #464646;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
footer .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    position: static;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 0px;

    /* Azul/10% */

    background: #EAF2FD;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
footer .area-contact{
/* Auto layout */

    display: flex;
    flex-direction: row;
    position: static;
    width: 1000px;
    height: 660px;
    top: 64px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin-right: 55px;
}
footer .area-contact2{
    position: static;
    width: 656px;
    height: 596px;



    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 16px;
}
footer  .area-contact img{
    position: static;
    width: 400px;
    height: 593px;
    left: 0px;
    top: 65.5px;

    background:#EDEDED;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5px;

}
footer .area-contact3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px;

    position: relative;
    width: 656px;
    height: 596px;
    left: 0px;
    top: 0px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 16px;
}
footer .area-contact3 button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;

    position: static;
    width: 144px;
    height: 51px;
    left: 0px;
    top: 545px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;


    background: #2A7AE4;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 32px 0px;
}
footer .area-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 656px;
    height: 84px;
    left: 0px;
    top: 0px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
}
footer .contact-info h1{
    position: static;
    width: 141px;
    height: 38px;
    left: 0px;
    top: 0px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */


    /* Preto/100% */

    color: #464646;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px;

}
footer .contact-info p{
    position: static;
    width: 350px;
    height: 38px;
    left: 0px;
    top: 46px;

    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* Preto/100% */

    color: #464646;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 8px 0px;

}
footer .contacto-area3 form{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 656px;
    height: 397px;
    left: 0px;
    top: 116px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}
footer .contacto-area3 p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: 656px;
    height: 56px;
    left: 0px;
    top: 0px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
}
footer .contacto-area3 input:placeholder{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 632px;
    height: 20px;
    left: 0px;
    top: 20px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;

}
footer .contact-area3 label{
    position: static;
    width: 632px;
    height: 16px;
    left: calc(50% - 632px/2);
    top: 0px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;

    /* Preto/50% */

    color: #A2A2A2;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 4px 0px;
}
footer form input{
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: none;
    position: static;
    width: 250px;
    height: 25px;
    left: 0px;
    top: 0px;

    border-top: none;
    border-left: none;
    border-right: none;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 23px 0px;
}
footer #area-text{
    width: 400px;
    height: 200px;
}